.tabs {
	width: 400px;
	margin: 30px auto;
}

.tabs-header {
	display: flex;
	font-weight: 700;
}

.tabs-header__item {
	padding: 15px 30px;
	border: 2px solid #ccc;
	margin-right: 3px;
	cursor: pointer;
}

.tabs-header__item.active {
	background-color: red;
	color: #fff;
}

.tabs-content {
}

.tabs-content__item {
	display: none;
	border: 2px solid #ccc;
	padding: 20px;
}

.tabs-content__item.active {
	display: block;
}